/* .horizontal-line{
    width: 70%;
    margin-left: 210px;
    color: aqua;
    height: 110%;
}
hr:not([size]) {
    height: 8px;
    
}
.horizontal-line2{
width: 50%;
margin-left: 344px;
color: aqua;
height: 110%;
} */